#squares {
	width: 80%;
	margin: auto;
	text-align: center;
}
#btns {
	padding: 20px;
	background: #ccc;
	margin-bottom: 20px;
}

#btns button {
	background: #fff;
	padding: 5px 10px;
	border: 0;
}

#btns .fa {
	font-size: 30px;
}
#btns .fa-play-circle {
	color: green;
}

#btns .fa-pause-circle {
	color: red;
}

.square {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 4px;
	display: inline-block;
}

.red {
	background-color: red;
 	border-radius: 5px 20px 5px;
}

.blue {
	background-color: blue;
	border-radius: 5px 20px 5px;
}

.green {
	background-color: green;
	border-radius: 5px 20px 5px;}

.yellow {
	background-color: yellow;
	border-radius: 5px 20px 5px;
}